.search-page {
  width: 100%;
  min-height: 1000px;

  .search-container {
    background-image: url('../images/bg001.jpg');
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: center;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .slogan {
      color: #fff;
      font-weight: bold;
      font-size: 1.5rem;
      margin-bottom: 20px;
      text-align: center;
    }
  }

  .show-window {
    margin: 30px auto;
    width: 90%;

    .search-form {
      padding: 0px 10px 10px 10px;
      background: #fff;
      margin-top: 10px;
      margin-bottom: 20px;
      border: 1px solid #d9d9d9;
      padding: 10px;
    }

    .show-window-header {
      display: flex;
      flex-direction: row;
      font-size: 1.5rem;
      padding: 10px;
      height: 60px;

      .logo {
        height: 100%;
        padding-right: 5px;
      }

      .news {
        display: flex;
        border-left: 1px solid #d7d7d7;
        padding-left: 5px;
        flex-direction: column;
        font-size: 1.1rem;

        .slogan {
          display: flex;
          height: 100%;
          margin: 0px;
          margin-top: 5px;
          align-items: center;
        }
      }
    }

    .card-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .paginator {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
}
